body,html {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}
  main {
    flex: 1; /* This makes the main content take up remaining space */
  }
header {
    background: linear-gradient(to right, #ff6a00, #ee0979);
    color: white;
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ee0979;
  }
  header h1 {
    margin: 0;
    font-size: 1.8rem; 
    font-weight: bold;
  }
  
  header h1 a {
    color: #fff; 
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
  }
  
  header h1 a:hover {
    color: #ffd700; /* Gold on hover */
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #ffd700;
  }
  footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  footer .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  footer .footer-content .reserved {
    text-align: left;
    flex: 1;
  }
  
  footer .footer-content nav {
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px; 
  }
  
  footer .footer-content nav a {
    color: #ccc;
    margin: 5px 0;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block; 
    width: 150px; 
  }
  
  footer .footer-content .social-media {
    text-align: right;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 20px; 
  }
  
  footer .footer-content .social-media a {
    color: #ccc;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block; 
    width: 150px; 
    text-align: left; 
    margin: 5px 0;
    padding-left: 10px; 
  }
  
  footer .footer-content .social-media a i {
    font-size: 1rem;
    color: #f5f5f5; 
  }